@model PolyFilms.Data.Models.ForgotPasswordModel
@using PolyFilms.Common
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Reset Password</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/flaty.css" />
    <link href="~/css/pnotify.custom.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/pnotify.custom.min.js"></script>

</head>
<body class="login-page">
<!-- BEGIN Main Content -->


<div class="login-wrapper">

    <form id="form-login" action="@Url.Action("ResetPassword","Login")" method="post">
        <h3>Reset Password</h3>
        <hr />
        @Html.HiddenFor(m=>m.UserId)
        <div class="form-group">
            <div class="controls">
                @Html.TextBoxFor(m=>m.Password , new { @placeholder = "Password", @class="form-control" , @type="Password"})
            </div>
        </div>
            
        <div class="form-group">
            <div class="controls">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", @class = "form-control", @type = "Password" })
            </div>
        </div>
           
        <div class="form-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary form-control" onclick="return comparePassword()">Reset Password</button>
            </div>
        </div>
        <hr />
            
    </form>    

</div>

</body>

</html>

<script type="text/javascript">
   
    function ShowErrorMessage(msg) {
        new PNotify({
            text: msg,
            type: 'error'
        });
    }


    function comparePassword() {
      
        var password = $("#Password").val();
        var confirmPassword = $("#ConfirmPassword").val();
        if (password === confirmPassword) {
            return true;
        } else {
            ShowErrorMessage('@resValidationMsg.ConfirmPasswordMismatch');
            return false;
        }
    }
</script>

